h1,p,{ 
color:black;
}
body {
  height:100%;
  background-image:linear-gradient(green,yellow);
  background-image:url("https://tse4.mm.bing.net/th?id=OIP.A6U3A-pKXfXiaHUMPMiWdwHaDp&pid=Api&P=0&h=180") ;
  background-repeat: no-repeat;
  background-size: cover;
 
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  width:50%;
}
th{
text-align:center;
width: 800px;
            height: 150px;

}
td{
 background-repeat: no-repeat;
  background-size: cover;
width: 600px;
            height: 150px;

 }

.cell{
width: 600px;
            height: 150px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
}